# Virtual environment
basics-ml/

# Python cache
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Jupyter notebooks
.ipynb_checkpoints/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db
